* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.wrapper__endgame {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/guillotina_endgame.png);
  background-repeat: no-repeat;
  background-color: #cbdbda;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.box__endgame {
  display:flex;
  justify-content:center;
  flex-direction:column;
  width: 100vw;
  text-align: center;
  padding: 1vh 4vw;
  background-image: url(../img/bocadillo.png);
  background-repeat: no-repeat;
  background-position:center;
  height: 20vh;
  line-height: 0.5;
}
.lil_chickens {
  font-weight: bold;
}
.button__endgame:hover {
  background-color: #385f5c;
  color: #fff;
  border: 2px solid #fff;
}

.button__endgame{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 10vh;
    width: 30vw;
    background-color: #5C9B96;
    border-radius: 12px;
}